<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <!-- Set the root logger level and appender -->
    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>

    <!-- Define the file appender -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>appLog.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
</configuration>
